name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Swift version
        run: swift --version
      - name: Install SwiftLint
        run: brew install swiftlint
      - name: Lint
        run: make lint
      - name: Test
        run: make test
      - name: Build
        run: make build ARCHES=$(uname -m)
